body {
    font-family: "Roboto", sans-serif;
    text-align: center;
}
/*Landing page*/

#bg-img {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1;
}
#home-page-header {
    color: white;
    font-family: lato;
    position: Relative;
    top: 30vh;
    z-index: 2;
    text-align: center;
    font-size: 3rem;}
}

.country-buttons {
    color: black;
    background-color: #82b1ff;
    border: none;
    outline: none;
}

.btn:hover {
    color: white;
}